.filter__buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: auto;
  justify-content: space-between;
}

.filter__button {
  border-radius: 0;
  width: auto;
  height: 30px;
  background-color: #4cfff0aa;
}

.all {
  border-radius: 15px 0 0 15px;
}

.notDone {
  border-radius: 0 15px 15px 0;
}

.delete__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 41%;
  height: auto;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 30px;
}
