#root {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input__text {
  display: flex;
  padding-left: 25px;
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  border: 2px solid #4cfff0aa;
  transition: border-color 0.25s;
}

.input__text:focus {
  outline: none;
  border: 2px solid #646cff;
}

.cart {
  position: relative;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  box-sizing: border-box;
  padding: 0 50px 0 30px;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 50px;
  border: 2px solid #4cfff0aa;
  transition: all 0.5s;
}
.cart__number {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: auto;
  width: 40px;
  height: 100%;
}
.cart__checkbox {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__text {
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: auto;
  width: auto;
  height: 100%;
}
.done {
  background-color: rgb(185, 175, 175);
}
.done .cart__text {
  text-decoration: line-through;
}

.input__editing {
  padding-left: 20px;
}
.editingArea {
  position: absolute;
  right: 18%;
}

.button__add {
  background-color: #4cfff0aa;
  height: 50px;
  border-radius: 0 25px 25px 0;
}

.container__cartButtons {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.cart__button {
  display: flex;
  background-color: rgba(117, 190, 218, 0);
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 0.5s;
  border: none;
}
.cart__button:hover,
.cart__button:active {
  color: red;
  background-color: rgba(117, 190, 218, 0);
}

.input__area {
  display: flex;
  align-items: center;
  margin: 20px 0 40px 0;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 30px;
}

.filter__button {
  border-radius: 0;
  width: auto;
  height: 30px;
  background-color: #4cfff0aa;
}

.all {
  border-radius: 15px 0 0 15px;
}

.notDone {
  border-radius: 0 15px 15px 0;
}

.filter__buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: auto;
  justify-content: space-between;
}

.delete__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 41%;
  height: auto;
}
